<h4>Formularios <small>template</small></h4>
<hr>
<form (submit)="guardar(forma)" #forma="ngForm" class="was-validated">

    <div>

        <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="nombre" minlength="5" required [(ngModel)]="usuario.nombre" #nombre="ngModel">

                <div *ngIf="nombre.errors?.required" class="form-control-feedback">Este campo es Requerido</div>
                <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">Por lo menos {{nombre.errors.minlength.requiredLength}} Caracteres</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" [(ngModel)]="usuario.apellido" name="apellido" required #apellido="ngModel">
                <div *ngIf="apellido.errors?.required" class="form-control-feedback">Este campo es Requerido</div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" [(ngModel)]="usuario.correo" name="email" required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
            <div *ngIf="email.errors?.required" class="form-control-feedback">Este campo es Requerido</div>
            <div *ngIf="email.errors?.pattern" class="form-control-feedback">Formato no Valido</div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select name="pais" class="form-control" [(ngModel)]="usuario.pais" required>
                <option value="">Seleccione un Pais</option>
                <option [value]="pais.codigo" *ngFor="let pais of paises">{{ pais.nombre }}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">

            <label class="custom-control custom-radio">
                <input type="radio" name="sexo" value="Hombre" class="custom-control-input" [(ngModel)]="usuario.sexo" required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Hombre</span>
            </label>

            <label class="custom-control custom-radio">
                    <input type="radio" name="sexo" value="Mujer" class="custom-control-input" [(ngModel)]="usuario.sexo" required>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Mujer</span>
                </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Acepta</label>
        <div class="col-md-8">
            <label class="custom-control custom-checkbox">
               <input type="checkbox" name="acepta" class="custom-control-input"  [(ngModel)]="usuario.acepta" required/>
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description">Acepta las condiciones</span>
           </label>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
        Guardar
      </button>
        </div>
    </div>

</form>

<code>
    {{usuario | json}}
</code>