<div [ngClass]="alerta" class="alert" role="alert">
    A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<button class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" (click)="alerta = 'alert-sucess'">Success</button>
<button class="btn btn-warning" (click)="alerta = 'alert-warning'">Warning</button>

<br><br>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info' : propiedades.info}">
    Hola Mundo
</h3>

<button class="btn btn-info" (click)="propiedades.info = !propiedades.info">Text Info</button>
<button class="btn btn-danger" (click)="propiedades.danger = !propiedades.danger">Text Danger</button>

<br><br>


<button class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
    <i class="fas " [ngClass]="{'fa-save': !loading, 'spinner-border spinner-border-sm': loading}" ></i>
    <span *ngIf="!loading"> Guardar Cambios </span>
    <span *ngIf="loading"> Espere Por favor....... </span>
</button>