<ion-list color="dark">
    <ion-item-sliding *ngFor="let lista of deseosService.listas; let i = index">

        <ion-item detail color="dark">
            <ion-label (click)="listaSeleccionada(lista.id)">
                {{lista.titulo}}
            </ion-label>
            <ion-note slot="end" color="tertiary" *ngIf="lista.item.length>0">{{ lista.item.length }} Tareas </ion-note>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="borrarLista(lista)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>

    </ion-item-sliding>

</ion-list>