<h4>Formularios <small>DATA</small></h4>
<hr>
<form [formGroup]="forma" (submit)="guardarCambios()" novalidate>

    <div formGroupName="nombrecompleto">
        <!-- [ngClass]="{'has-warning': !forma.controls.nombre.valid}" -->
        <div class="form-group row" [ngClass]="{'has-warning': !forma.get('nombrecompleto.nombre').valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.required">
                    Este Campo es Necesario
                </div>
                <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength">
                    Por los menos {{forma.get('nombrecompleto.nombre').errors.minlength.requiredLength}} Caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pasatiempos</label>
        <div class="col-md-8" formArrayName="pasatiempos">
            <input type="text" name="" [formControlName]="i" class="form-control" *ngFor="let pasatiempo of forma.get('pasatiempos').value; let i = index;">
        </div>
        <button class="btn btn-primary" (click)="agregarPasatiempo()" type="button">Nuevo</button>
    </div>

    <hr>
    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-md-8">
            <input type="text" formControlName="username" class="form-control" placeholder="Username">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
            <input type="password" formControlName="password1" class="form-control" placeholder="Password">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir</label>
        <div class="col-md-8">
            <input type="password" formControlName="password2" class="form-control" placeholder="Confirmar ">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
        Guardar
      </button>
        </div>
    </div>

</form>
<hr>
<code>{{ forma.value | json}}</code> <br>
<hr>
<code>{{ forma.valid}}</code>
<hr>
<code>{{ forma.status }}</code>