<h1>Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>Capitalizado</td>
                    <td>{{nombre2 |capitalizado}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre |uppercase}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre |lowercase}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre |slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre |slice:0:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo |slice:1:5}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number:'3.0-0'}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number:'1.0-4'}}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>porcent</td>
                    <td>{{porcentaje |percent}}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>porcent: 2.0-2</td>
                    <td>{{porcentaje |percent:'2.0-2'}}</td>
                </tr>

                <tr>
                    <td>{{moneda}}</td>
                    <td>Currency</td>
                    <td>{{moneda |currency:'$'}}</td>
                </tr>

                <tr>
                    <td>{{heroe}}</td>
                    <td>JSON</td>
                    <td><pre>{{heroe |json}}</pre></td>
                </tr>

                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>Async</td>
                    <td><pre>{{valorPromesa |async}}</pre></td>
                </tr>

                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE</td>
                    <td><pre>{{fechaActual |date}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'medium'</td>
                    <td><pre>{{fechaActual |date:'medium'}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'MMMM - dd'</td>
                    <td><pre>{{fechaActual |date:'MMMM - dd'}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'MMMM - dd' (Ingles)</td>
                    <td><pre>{{fechaActual |date:'MMMM - dd':'':'en'}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'MMMM - dd' (Frances)</td>
                    <td><pre>{{fechaActual |date:'MMMM - dd':'':'fr'}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'MMMM - dd' (con Boton)[{{idioma}}]
                        <br>
                        <button class="btn btn-primary mr-1" (click)="idioma='es-MX'">Español</button>
                        <button class="btn btn-secondary mr-1" (click)="idioma='en'">Ingles</button>
                        <button class="btn btn-success mr-1" (click)="idioma='fr'">Frances</button>
                    </td>
                    <td><pre>{{fechaActual |date:'MMMM - dd':'':idioma}}</pre></td>
                </tr>

                <tr>
                    <td>{{nombre3}}</td>
                    <td>contraseña: {{activar}}
                        <br>
                        <button class="btn btn-outline-primary" (click)="activar = !activar">Activar / Desactivar</button>
                    </td>
                    <td><pre>{{nombre3 |contrasenia:activar }}</pre></td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo |slice:4:15">{{item}}</li>
        </ul>

        <h3>DomSeguro</h3>
        <hr>
        <div class="row mb-2">
            <div class="col">
                <iframe width="560" height="315" [src]="videoURL |domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>

</div>