<h1>Pipes <small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre |uppercase}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre |lowercase}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre |slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre |slice:0:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo |slice:1:5}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number:'3.0-0'}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number:'1.0-4'}}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>porcent</td>
                    <td>{{porcentaje |percent}}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>porcent: 2.0-2</td>
                    <td>{{porcentaje |percent:'2.0-2'}}</td>
                </tr>

                <tr>
                    <td>{{moneda}}</td>
                    <td>Currency</td>
                    <td>{{moneda |currency:'$'}}</td>
                </tr>

                <tr>
                    <td>{{heroe}}</td>
                    <td>JSON</td>
                    <td><pre>{{heroe |json}}</pre></td>
                </tr>

                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>Async</td>
                    <td><pre>{{valorPromesa |async}}</pre></td>
                </tr>

                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE</td>
                    <td><pre>{{fechaActual |date}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'medium'</td>
                    <td><pre>{{fechaActual |date:'medium'}}</pre></td>
                </tr>
                <tr>
                    <td>{{fechaActual}}</td>
                    <td>DATE: 'MMMM - dd'</td>
                    <td><pre>{{fechaActual |date:'MMMM - dd'}}</pre></td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo |slice:4:15">{{item}}</li>
        </ul>

    </div>

</div>